<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./style.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:700|Droid+Serif:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	</head>

	<body>

		<div class="navbar">
			<ul id="menu">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/sets">Sets</a>
				</li>
				<li>
					<a href="/sets/new">New</a>
				</li>
			</ul>
		</div>
		<%= yield %>
	</body>

</html>