<link rel="stylesheet" type="text/css" href="../../style.css">

<link rel="stylesheet" type="text/css" href="../style.css">

<div class="container">

	<div class="transparent">
	</div>

	<div class="content">		
		<iframe width="550" height="413" src=<%= result %> frameborder="0" allowfullscreen>
		</iframe>
	</div>

</div>
